html,
body {
  height: 100%;
}

body {
  @include fluid-text (16, 14);

  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.25;
  color: var(--color-black);
}

a,
button,
input,
textarea,
svg {
  transition-duration: var(--transition-duration);
}

h1, h2, h3 {
  font-weight: 700;
}

h1 {
  @include fluid-text (48, 40)
}

h2 {
  @include fluid-text (24, 21)
}

h3 {
  @include fluid-text (96, 50)
}

h4 {
  @include fluid-text (16, 14)
}